html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 16px;
}

canvas {
    margin: 24px;
}
.button {
    border: 1px #333 solid;
    border-radius: 5px;
    height: 28px;
    margin-right: 16px;
    background-size: cover;
    cursor: pointer;
    background-color: #fff;
}